0 * * * * /usr/local/bin/python /app/jcr/manage.py scrape_races >> /app/var/log/cron.log 2>&1
15 * * * * /usr/local/bin/python /app/jcr/manage.py prune_volunteer_opportunities >> /app/var/log/cron.log 2>&1
